<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>Name</div>
  <%= f.text_field :full_name %>
  </br></br>

  <div>Email</div>
  <%= f.text_field :email %>
  </br></br>
  
  <div>Company</div>
  <%= f.text_field :company %>
  </br></br>
  
  <div>Attending With:</div>
  <%= f.text_field :attending_with %>

  <div class="actions">
    <%= f.submit "Sign Up", class: "large button expand", style: "background: #F67600;" %>
  </div>
<% end %>
