<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div>Name</div>
      <%= f.text_field :full_name, class: "typeahead" %>
      </br></br>
      <div>Company</div>
      <%= f.text_field :company, class: "typeahead2" %>

    <%= f.submit "Check In", class: "large button expand", style: "background: #F67600;" %>
<% end %>
